
body {
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Mulish',sans-serif;
    margin: 10px 0;
}
h1 {
    font-size: 4.209rem;
    color: red;
}
h2 {
    font-size: 3.052rem;
    color:red;
}
h3 {
    font-size: 2.441rem;
}
h4 {
    font-size: 1.953rem;
}
h5 {
    font-size: 1.563rem;
}
h6 {
    font-size: 1.25rem;
}
p {
    color: black;
 }

div {
    border: 1px red solid;
}
section {
    background-color: gray;
}
header {
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}
footer {
    justify-content: space-evenly;
}
/* Forms */

/* Links */

/* CTA Button */
a.join-button:link, a.join-button:visited {
    background-color:red ;
    border-radius: 8px;
    color:white;
    padding:16px 24px;
    
}


.container {
    display: flex;
}
.driver-card {
    align-items: center;
    margin-right:8px;
}
.carda {
    width: 200px;
}

.img-holdera {
    position: relative;
    /* height:400px; */
    /* width:100%; */
    /* object-fit: fill; */
    /* overflow:hidden; */
}
.img-racecar{
    object-fit: cover;
    object-position: center top;
    width:100%;
    height:400px;
    
}

.img-holderdriver{
    position: relative;
    height:60px;
    width:60px;
    object-position: center;
    /* object-fit: cover; */
    overflow:hidden;
}

#racecar {
    justify-content: space-evenly;
    padding-bottom: 16px;
    padding-top: 16px;
}
#video {
    padding:0;
}

.box-img{
    width:60px;
    height:60px;
    object-fit: cover;
    overflow:hidden;
    /* width:100px;
    height:100px;
    overflow: hidden; */
}

.box-imga{
    object-fit:cover;
}
.box-imgb{
    object-fit:contain;
}
.box-imgc{
    object-fit:scale-down;
}

#formula {
    background-image: url('../img/frontview.jpg');
    background-size: cover;
    background-position: center;
    height: 30vh;
    text-align: center;
    text-shadow:2px 2px 5px black;
}

#formula div{
    padding: 16px;
}
